@import "global";
@import "vars";
@import "fonts";

//start header
.header_inner_top,
.header_inner_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 15px;
}
.menu_list_top,
.menu_list_bottom {
    li {
        display: inline-block;
    }
}
.menu_list_top {
    li + li {
        margin-left: 30px;
    }
}
.header_inner_top {
    background-color: #24282e;
    a {
        font-weight: 300;
        color: #fff;
    }
}
.inner_top_info_phone {
    padding-left: 25px;
    margin-right: 30px;
    position: relative;
    &::before {
        content: "\f095";
        position: absolute;
        font-family: 'icomoon';
        width: 17px;
        height: 19px;
        left: 0;
    }
}
.inner_top_info_email {
    padding-left: 35px;
    position: relative;
    &::before {
        content: "\f003";
        position: absolute;
        font-family: 'icomoon';
        width: 22px;
        height: 14px;
        left: 0;
        color: #fff;
    }
}
.header_inner_bottom {
    background-color: #fff;
    &_logo {
        font-weight: 300;
        font-size: 30px;
        line-height: 32px;
        font-family: 'Roboto';
        color: $text;
        padding-left: 50px;
        position: relative;
        &::before {
            content:"";
            position: absolute;
            width: 49px;
            height: 33px;
            background-image: url(../images/header/logo.png);
            left: 0;
        }
    }
}
.menu_list_bottom {
     a {
        color: #0f0101;
        font-weight: 700;
        text-transform: uppercase;
        padding-left: 17px;
        padding-right: 17px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        transition: all .3s;
        &:hover {
            color: $orange;
            border-left: 5px solid $orange;
            border-right: 5px solid $orange;
        }
    }
}
//end header

//start slider

.main_slider {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &_inner {
        min-height: 780px;
        background-color: rgba(0, 0, 2, .631);
        &_info {
            position: absolute;
            max-width: 680px;
            font-family: 'Roboto Slab';
            color: #fff;
            left: 30%;
            top: 240px;
            &_title {
                margin-bottom: 30px;
                font-size: 60px;
                font-weight: 700;
                line-height: 82px;
                span {
                    color: $orange;
                }
            }
            &_text {
                font-size: 18px;
                line-height: 32px;
                margin-bottom: 30px;
            }
            &_btn a {
                padding: 14px 20px;
                background-color: $orange;
                color: #fff;
                border: none;
                font-family: 'Open Sans';
            }
        }
    }
}
.next, .prev {
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: $orange;
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    background-image: url(../images/icons/arrow_next.png);
    position: absolute;
    right: 13%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.prev {
    background-image: url(../images/icons/arrow_previous.png);
    left: 13%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.next.slick-disabled,
.prev.slick-disabled {
    background-color: #000;
    cursor: default;
}
//end slider

//start about
.about {
    background-color: #fff;
    padding-top: 130px;
    padding-bottom: 130px;
    text-align: center; 
}
.about_inner {
    display: flex;
    justify-content: space-between;
    color: $text;
    text-align: center;
    &_item {
        max-width: 250px;
        width: 100%;
    }
    &_images {
        margin-bottom: 20px;
    }
    &_title a {
        color: $text;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
        transition: all .3s;
        &:hover {
            color: $orange;
        }
    }
    &_text {
        font-weight: 300;
        text-align: justify;
        line-height: 20px;
    }
}
//end about

//start courses
.courses {
    background-image: url(../images/content/course_background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 866px;
     &_inner {
        background-color: rgba(204, 204, 204, .949);
        padding-top: 130px;
        padding-bottom: 130px;
    }
}
.courses_items {
    display: flex;
    justify-content: space-between;
}
.courses_item {
    max-width: 350px;
    width: 100%;
    background-color: #fff;
    text-align: left;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.39);
    &_images {
        width: 100%;
        min-height: 245px;
    }
    &_title {
        font-size: 22px;
        font-weight: 600;
        line-height: 32px;
        color: #444;
        padding: 15px;
    }
    &_students {
        display: flex;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 20px;
        &_number {
            font-style: 16px;
            font-weight: 300;
            padding-left: 25px;
            position: relative;
            &::before {
                content: "\f19d";
                font-family: 'icomoon';
                position: absolute;
                left: 0;
                height: 15px;
                width: 15px;
            }
        }
     }
     &_btn {
         padding: 0 15px 23px;
         font-family: 'Roboto';
         text-transform: uppercase;
         text-align: center;
         &_details, &_price {
            padding: 12px 30px;
            color: $orange;
            font-weight: 700;
            font-size: 22px;
            border: 1px solid #e34b11;
            border-radius: 4px;
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.39);
        }
        &_price {
            background-color: $orange;
            color: #fff;
            margin-right: 27px;
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.39);
        }
     }
}
//end courses

//start gallery

.gallery {
    padding-top: 130px;
    padding-bottom: 130px;
    text-align: center;
}
.gallery_inner_btn {
    margin-bottom: 65px;
}
.gallery_inner_btn button {
    padding: 8px 20px;
    font-size: 16px;
    color: $text;
    font-family: 'Roboto';
    border: 1px solid #9c9c9c;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: #fff;
    outline: none;
    & + button {
        margin-left: 8px;
    }
    &.mixitup-control-active {
        background-color: #e34b11;
        color: #fff;
        outline: none;
    }
}
.gallery_inner_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery_item {
    width: 285px;
    min-height: 260px;
    font-size: 0;
    flex-basis: calc(25% - 20px);
}
.gallery_item_box {
    display: inline-block;
    position: relative;
}
.gallery_item_box img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery_item_box:hover .gallery_item_link {
    height: 265px;
}   
.gallery_item_box:hover .gallery_item_link a {
    display: block;
}  
.gallery_item_link {
    background-color: rgba(0, 0, 2, .639);
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    transition: all .5s;
    & a {
        border: 1px solid #fff;
        padding: 10px;
        display: none;
        &:hover {
            background-color: $orange;
        }
        & + a {
            margin-left: 20px;
        }
    }
}
// end gallery

//start teachers 

.teachers {
    padding-top: 100px;
    padding-bottom: 130px;
    text-align: center;
    &_inner {
        display: flex;
        justify-content: center;
        &_item {
            width: 285px;
            height: 300px;
        }
    }
}
.teachers_item_box {
    display: inline-block;
    position: relative;
}
.teachers_item_box img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.teachers_item_name {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 7px;
}
.teachers_item_position {
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
}
.teachers_item_content {
    position: absolute;
    width: 100%;
    background-color: rgba(227, 75, 17, .812);
    overflow: hidden;
    transition: all .5s;
    height: 0px;
    bottom: 0;
}
.teachers_item_link a + a {
    margin-left: 10px;
}
.teachers_item_box:hover  .teachers_item_content{
    height: 50%;
}
//end teachers

//start campus
.campus {
    background-color: #f2f2f2;
    padding-top: 100px;
    padding-bottom: 130px;
    text-align: center;
    &_inner {
        display: flex;
        justify-content: space-between;
        font-size: 0;
        &_box {
        display: inline-block;
        position: relative;
            &:hover .campus_inner_box_shadow {
                height: 100%;
                transition: all .5s;
            }
        }
    }
}
.campus_inner_box_shadow {
    position: absolute;
    background-color: rgba(0, 0, 2, .6);
    bottom: 0;
    width: 100%;
    height: 0;
}
.box_shadow_horisontal {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    width: 100%;
    height: 1px;
}
.box_shadow_vert {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: #fff;
    height: 100%;
    width: 1px;
}
//end campus

//start news

.news {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 130px;
    &_inner {
        display: flex;
        justify-content: space-between;
    }
}
.news_inner_instructors {
    max-width: 350px;
    width: 100%;
}
.instructors_box_name {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto';
    width: 100%;
    position: relative;
    padding-left: 50px;
    background-color: #7d7d7e;
    text-align: left;
    color: #fff;
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    // margin-bottom: 5px;
    transition: all .3s;
    &::before {
        content: "";
        position: absolute;
        background-image: url(../images/icons/arrow_right.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 30px;
        height: 30px;
        left: 0;
        margin-left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.instructors_box_name.rotate {
    background-color: $orange;
        &::before {
        transform: rotate(90deg);
        top: 17%; 
        }
}
.instructors_box_info {
    text-align: center;
    padding-right: 10px;
    display: none;
    &_images {
        padding-top: 10px;
    & img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        }
    }
    &_about {
        margin-left: 10px;
        &_subject {
            font-size: 18px;
            font-weight: 500;
            font-family: 'Roboto';
            color: $text;
            margin-bottom: 5px;
        }
        &_status {
            font-family: 'Roboto';
            font-weight: 300;
            font-size: 18px;
            color: $text;
            line-height: 20px;
            margin-bottom: 7px;
        }
        &_text {
            text-align: left;
            font-weight: 300;
            margin-bottom: 10px;
        }
    }
}
.news_inner_slider {
    position: relative;
    max-width: 730px;
}
.news_inner_slider_title, 
.news_inner_instructors_title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 20px;
    color: $text;
    text-align: left;
}
.news_slider_item {
    max-width: 350px;
    width: 100%;
    text-align: left;
    &_line {
        margin-bottom: 25px;
        height: 3px;
        font-size: 0;
        width: 100%;
        .orange_line {
            background-color: $orange;
            display: inline-block;
            width: 68px;
            height: 100%;
        }
        .gray_line {
            background-color: $text;
            display: inline-block;
            width: 68px;
            height: 100%;
        }
    }
    &_images img {
        min-height: 260px;
        width: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }
    &_date a {
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 12px;
        color: $text;
    }
    &_title a {
        font-weight: 600;
        font-size: 18px;
        color: $text;
        margin-bottom: 10px;
    }
    &_text {
        margin-bottom: 25px;
    }
    &_btn a {
        padding: 15px 45px;
        background-color: $orange;
        color: #fff;
        border-radius: 4px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.39);
    }
}
.slick-dots {
    position: absolute;
    top: -45px;
    right: 0;
    li {
        display: inline-block;
        & + li {
            margin-left: 10px;
        }
        &.slick-active {
            button {
                background-color: $orange;
            }
        }
    }
    button {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #fff;
        color: transparent;
        border: 2px solid $orange;
        outline: none;
    }
}

//end news
//start footer
.footer_wrapper {
    padding-top: 70px;
    padding-bottom: 90px;
    background-color: #2d3237;
}
.footer_copy {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer_inner {
    display: flex;
    justify-content: space-between;
    &_item {
        max-width: 350px;
        width: 100%;
    }
    &_text {
        color: #fff;
        line-height: 21px;
        margin-bottom: 20px;
    }
    &_social {
        .social_link {
            height: 44px;
        }
        li {
            display: inline-block;
            height: 44px;
            &:hover {
                background-color: $orange;
            }
            & + li {
                margin-left: 10px;
            }
        }
    }
}
.footer_ttle {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 25px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 30px;
    &::after {
        position: absolute;
        content: "";
        width: 180px;
        height: 3px;
        background-color: $orange;
        bottom: 0;
        left: 0;
    }
}
.footer_opening {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #6e7174;
        & + div {
            padding-top: 10px;
        }
}
.footer_inner_form {
    form {
        width: 100%;
    }
    input,  textarea {
        width: 100%;
        border: 1px solid #6e7174;
        background-color: transparent;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        margin-bottom: 15px;
        &::placeholder {
            color: #fff;
        }
    }
    textarea {
        height: 85px;
        resize: none;
    }
    button {
        padding: 10px 50px;
        background-color: $orange;
        color: #fff;
        border: none;
        border-radius: 4px;
        outline: none;
        cursor: pointer;
    }
}
//end footer